.itemDay-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo day deg hidden";
    border-radius: 10px;
    background: #303030;
    color: #fff;
    margin: 10px 0;
}


.itemDay-logo{
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.itemDay-logo .weather-icon{
    width: 45%;
}

.itemDay-day{
    grid-area: day;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDay-deg{
    grid-area: deg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDay-deg p{
    margin: 0;
}