.home-container{
    padding: 20px;
}

.home-container .btn-addCity{
    position: absolute;
    left: 80%;
    top: 8px;
    font-size: 30px;
    padding: 0;
}

.calendar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.calendar-container .calendar{
    color: #0101ee;
}

.calendar-container p{
    margin-left: 5px;
    font-weight: 500;
}